<!DOCTYPE html>
<html>
<title>Ignite Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href='https://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
.myLink {display: none}


	.Merienda_One { font-family: "Merienda One"; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 300; line-height: 26.4px; }

div.quote {

	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.5rem;            /* Footer height */
  background:#f4f4f4;
}


</STYLE>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">About</h4>
      <span class="text-muted">Ignite Me is an A.I. based Quote Generator. It bring to you Famous Quotes from Famous Personalities based on your Mood.
      If you want dark quotes, click on Moon, and if you want Bright quotes, click on Sun OR simply swipe left and right based on your choice.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<div id="fullpage">
<BODY  bgcolor="#fef4e2">
	<!-- https://www.w3schools.com/w3css/tryw3css_templates_travel2.htm# -->



	<!-- Navigation Bar -->
	<div class="w3-bar w3-border-bottom w3-xlarge w3-center"
				style="width:100%; background-color:#0000ff;">

	 <a href='#' targer='_blank'>
	     <img src='static/images/inspire-header-me.png' style="height:100px" />
	  			</a>
	</div>

	<div id="quote" class="quote">
	    <BR>
		<div class="Merienda_One">
			{{quote}}<BR><BR><BR>― {{author}}
		</div>
	</div>
</div>


<footer class="w3-container w3-center w3-margin-bottom"  id="footer" >
	<div class="w3-container w3-center">
		<form id='myform' action="{{ url_for('quote_me') }}" method='GET'>
			<button class="w3-button" type="submit" name='darker' id="darker" value='{{current_id}}'>
				<img src='static/images/moon.png'  style="width:50px" />
			</button>
			<img src='static/images/hand.png' id='hand' style="width:100px" />
			<button class="w3-button" name='brighter' id="brighter" type="submit" value='{{current_id}}'>
				<img src='static/images/sun.png'  style="width:50px" />
			</button>
		</form>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<SCRIPT type="text/javascript">

    // credit: http://www.javascriptkit.com/javatutors/touchevents2.shtml
    // https://codepen.io/ganmahmud/pen/RaoKZa
    function swipedetect(el, callback){

        var touchsurface = el,
        swipedir,
        startX,
        startY,
        distX,
        distY,
        threshold = 150, //required min distance traveled to be considered swipe
        restraint = 100, // maximum distance allowed at the same time in perpendicular direction
        allowedTime = 300, // maximum time allowed to travel that distance
        elapsedTime,
        startTime,
        handleswipe = callback || function(swipedir){}

        touchsurface.addEventListener('touchstart', function(e){
            var touchobj = e.changedTouches[0]
            swipedir = 'none'
            dist = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() // record time when finger first makes contact with surface
            e.preventDefault()
        }, false)

        touchsurface.addEventListener('touchmove', function(e){
            e.preventDefault() // prevent scrolling when inside DIV
        }, false)

        touchsurface.addEventListener('touchend', function(e){
            var touchobj = e.changedTouches[0]
            distX = touchobj.pageX - startX // get horizontal dist traveled by finger while in contact with surface
            distY = touchobj.pageY - startY // get vertical dist traveled by finger while in contact with surface
            elapsedTime = new Date().getTime() - startTime // get time elapsed
            if (elapsedTime <= allowedTime){ // first condition for awipe met
                if (Math.abs(distX) >= threshold && Math.abs(distY) <= restraint){ // 2nd condition for horizontal swipe met
                    swipedir = (distX < 0)? 'left' : 'right' // if dist traveled is negative, it indicates left swipe
                }
                else if (Math.abs(distY) >= threshold && Math.abs(distX) <= restraint){ // 2nd condition for vertical swipe met
                    swipedir = (distY < 0)? 'up' : 'down' // if dist traveled is negative, it indicates up swipe
                }
            }
            handleswipe(swipedir)
            e.preventDefault()
        }, false)
    }

    //USAGE:


    var el = document.getElementById('fullpage');
    swipedetect(el, function(swipedir){
        // swipedir contains either "none", "left", "right", "top", or "down"
        if (swipedir == "right") {
            document.getElementById("brighter").click();
        }
        else if  (swipedir == "left")  {
            document.getElementById("darker").click();
        }
    });

    var hand = document.getElementById('hand');
    swipedetect(hand, function(swipedir){
        // swipedir contains either "none", "left", "right", "top", or "down"
        if (swipedir == "right") {
            document.getElementById("brighter").click();
        }
        else if  (swipedir == "left")  {
            document.getElementById("darker").click();
        }
    });

</SCRIPT>
</BODY>


</HTML>